<% include ../partials/header %>

<div class = "container">
    <div class = "row">
        <div class = "col-md-3">
            <p class = "lead">Travel Nigeria</p>
            <div class = "list-group">
                <li class = "list-group-item active">Info 1</li>
                 <li class = "list-group-item">Info 1</li>
                  <li class = "list-group-item">Info 1</li>
            </div>
        </div>
    


        <div class = "col-md-9">
         <div class = "thumbnail">
             <img class = "img-responsive"src = <%= toursite.img %>>
             <div class = "caption-full"><h4 class = "pull-right">$9:00 per night</h4>
             <h4><a><%= toursite.name %></a></h4>
             <p><%= toursite.desc %></p>
             <% if (currentUser && toursite.author.id.equals(currentUser._id)){ %>
             <a href = "/toursites/<%= toursite._id %>/edit"class = "btn btn-xs btn-warning">Edit</a>
             
             <form id = "deleteForm" action = "/toursites/<%= toursite._id %>?_method=DELETE" method = "POST">
                 <button class = "btn btn-xs btn-danger">Delete</button>
             </form>
             <% } %>
             </div>
             
         </div>
         
         <div class = "well">
             <div class = "text-right">
                 <a class = "btn btn-success text-right" href = "/toursites/<%= toursite._id %>/comments/new">Add New Comment</a>
             </div>
             <hr>
            
             <% toursite.comments.forEach(function(comment){ %>
             <div class = "row">
                <div class = "col-md-12">
             <strong><%= comment.author.username %> </strong>
             <span class = "pull-right">10 days ago</span>
             <p> <%=comment.text %></p>
             <% if (currentUser && comment.author.id.equals(currentUser._id)){ %>
             <a href = "/toursites/<%= toursite._id %>/comments/<%= comment._id %>/edit" class = "btn btn-xs btn-warning">Edit comment</a>
             
             <form id="deleteForm" action="/toursites/<%=toursite._id %>/comments/<%=comment._id %>?_method=DELETE" method="POST">
                <input type="submit" class="btn btn-xs btn-danger" value="Delete">
            </form>
              <% } %>
               </div>
             </div>
                <% }) %>
                  
         </div>
         
         <p><em>Submitted by <%= toursite.author.username %></em></p>
         
        
        
        
        
        
        </div>
    </div>
</div>

<% include ../partials/footer %>
